<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Loan Overdue Warning</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #f3f3f3;
            font-family: Helvetica, Arial, sans-serif;
        }

        h1 {
            background-color: #264459;
            color: #ffffff;
            padding: 30px 0 50px 0;
            font-weight: normal;
        }

        hr {
            border: none;
            border-top: 3px solid #264459;
            margin: 20px;
        }

        .container {
            background-color: #fefefe;
            width: 580px;
            margin: 0 auto;
        }

        .bottom {
            background-color: #efefee;
        }

        .block {
            margin: 0;
            padding: 10px 20px 20px 20px;
        }

        .logo {
            width: 100%;
        }

        .text-center {
            text-align: center;
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #264459;
            color: #fefefe;
            border: 1px solid #fff;
            border-radius: 3px;
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
        }
    </style>
</head>
<body>
<div class="body">
    <div class="container">
        <div class="content">
            <h1 class="text-center">Important Notice, {{ user.firstName }}!</h1>
            <p class="block">
                Our records show that you have <strong>book loans overdue by more than 25 days</strong>.
                To avoid further penalties or restrictions, please return your borrowed books as soon as possible.
            </p>
            <p class="block text-center">
                <a href="http://www.library.com{{ path('app_loan_return') }}" class="btn">Return Your Books</a>
            </p>
            <p class="block">
                If you've already returned your books, please disregard this message.
                Otherwise, we kindly urge you to take action today.
            </p>
            <p class="block">
                If you need help or have questions, our team is here for you — don’t hesitate to reach out.
            </p>
        </div>
        <div class="footer">
            <p class="block">
                Thank you,<br><br>
                Your friendly <em>Library Team</em>
            </p>
            <p class="block bottom text-center">
                Sent with ❤️ from the friendly folks at The Space Bar
            </p>
        </div>
    </div>
</div>
</body>
</html>
